In [3]:
import pandas as pd

df=pd.read_csv('datas.csv')
print(df)

   id        first       last  gender  Marks  selected
0   1        Leone     Debrci  Female     50      True
1   2       Romola  Phinnessy  Female     60     False
2   3         Geri      Prium    Male     65     False
3   4        Sandy   Doveston  Female     95     False
4   5      Jacenta     Janisk  Female     31      True
5   6  Diane-marie   Medhurst  Female     45      True
6   7       Austen       Pool    Male     45      True
7   8        Vanya    Teffrey    Male     70     False
8   9     Giordano      Elloy    Male     36     False
9  10       Rozele    Fawcett  Female     50     False

In [8]:
from sklearn.preprocessing import LabelEncoder

In [10]:
df_gender_encode=LabelEncoder()
df.gender=df_gender_encode.fit_transform(df.gender)
print(df)

   id        first       last  gender  Marks  selected
0   1        Leone     Debrci       0     50      True
1   2       Romola  Phinnessy       0     60     False
2   3         Geri      Prium       1     65     False
3   4        Sandy   Doveston       0     95     False
4   5      Jacenta     Janisk       0     31      True
5   6  Diane-marie   Medhurst       0     45      True
6   7       Austen       Pool       1     45      True
7   8        Vanya    Teffrey       1     70     False
8   9     Giordano      Elloy       1     36     False
9  10       Rozele    Fawcett       0     50     False

In [11]:
from sklearn import preprocessing

In [13]:
df.Marks=preprocessing.scale(df.Marks)
scaled_df=preprocessing.scale(df.Marks)
print(df)
print("Scaling of marks is completed\n\n\n\n")

   id        first       last  gender     Marks  selected
0   1        Leone     Debrci       0 -0.265401      True
1   2       Romola  Phinnessy       0  0.299282     False
2   3         Geri      Prium       1  0.581624     False
3   4        Sandy   Doveston       0  2.275674     False
4   5      Jacenta     Janisk       0 -1.338300      True
5   6  Diane-marie   Medhurst       0 -0.547743      True
6   7       Austen       Pool       1 -0.547743      True
7   8        Vanya    Teffrey       1  0.863966     False
8   9     Giordano      Elloy       1 -1.055958     False
9  10       Rozele    Fawcett       0 -0.265401     False
Scaling of marks is completed

In [15]:
newarr=scaled_df.reshape(-1,1)
scaled_df_bin=preprocessing.Binarizer(threshold=0.5).transform(newarr)
df['Marks']=scaled_df_bin
print(df)
print("Binarizarion of marks is completed\n\n\n")

   id        first       last  gender  Marks  selected
0   1        Leone     Debrci       0    0.0      True
1   2       Romola  Phinnessy       0    0.0     False
2   3         Geri      Prium       1    1.0     False
3   4        Sandy   Doveston       0    1.0     False
4   5      Jacenta     Janisk       0    0.0      True
5   6  Diane-marie   Medhurst       0    0.0      True
6   7       Austen       Pool       1    0.0      True
7   8        Vanya    Teffrey       1    1.0     False
8   9     Giordano      Elloy       1    0.0     False
9  10       Rozele    Fawcett       0    0.0     False
Binarizarion of marks is completed

In [16]:
print("\n\n\n listing 2 \n\n")

 listing 2

In [20]:
df_duplicated = pd.concat([df]*2, ignore_index=True)
print(df_duplicated)

    id        first       last  gender  Marks  selected
0    1        Leone     Debrci       0    0.0      True
1    2       Romola  Phinnessy       0    0.0     False
2    3         Geri      Prium       1    1.0     False
3    4        Sandy   Doveston       0    1.0     False
4    5      Jacenta     Janisk       0    0.0      True
5    6  Diane-marie   Medhurst       0    0.0      True
6    7       Austen       Pool       1    0.0      True
7    8        Vanya    Teffrey       1    1.0     False
8    9     Giordano      Elloy       1    0.0     False
9   10       Rozele    Fawcett       0    0.0     False
10   1        Leone     Debrci       0    0.0      True
11   2       Romola  Phinnessy       0    0.0     False
12   3         Geri      Prium       1    1.0     False
13   4        Sandy   Doveston       0    1.0     False
14   5      Jacenta     Janisk       0    0.0      True
15   6  Diane-marie   Medhurst       0    0.0      True
16   7       Austen       Pool       1    0.0      True
17   8        Vanya    Teffrey       1    1.0     False
18   9     Giordano      Elloy       1    0.0     False
19  10       Rozele    Fawcett       0    0.0     False

In [24]:
df_duplicates_removed=pd.DataFrame.drop_duplicates(df_duplicated)
print('After duplicates removed')
print(df_duplicates_removed)

After duplicates removed
   id        first       last  gender  Marks  selected
0   1        Leone     Debrci       0    0.0      True
1   2       Romola  Phinnessy       0    0.0     False
2   3         Geri      Prium       1    1.0     False
3   4        Sandy   Doveston       0    1.0     False
4   5      Jacenta     Janisk       0    0.0      True
5   6  Diane-marie   Medhurst       0    0.0      True
6   7       Austen       Pool       1    0.0      True
7   8        Vanya    Teffrey       1    1.0     False
8   9     Giordano      Elloy       1    0.0     False
9  10       Rozele    Fawcett       0    0.0     False

In [30]:
print('\n\nListing 3 \n\n')

Listing 3

In [31]:
df=pd.DataFrame({   
    'm1':[50,'A',60,'A',80],
    'm2':[60,'A','60','A',80],
       'm3':[50,70,'A','A',60],
        'm4':[60,'A','A','A',60],
      'm5':['A','A','A',10,20]
})
df=df.apply(pd.to_numeric,errors='coerce')
print(df)

     m1    m2    m3    m4    m5
0  50.0  60.0  50.0  60.0   NaN
1   NaN   NaN  70.0   NaN   NaN
2  60.0  60.0   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN  10.0
4  80.0  80.0  60.0  60.0  20.0

In [32]:
print('Dataframe with Nan \n\n\n')
df['m5']=df['m5'].fillna(0)
print(df)
print('Making m5 NaN as 0 using fillna() function\n\n\n\n')

Dataframe with Nan



     m1    m2    m3    m4    m5
0  50.0  60.0  50.0  60.0   0.0
1   NaN   NaN  70.0   NaN   0.0
2  60.0  60.0   NaN   NaN   0.0
3   NaN   NaN   NaN   NaN  10.0
4  80.0  80.0  60.0  60.0  20.0
Making m5 NaN as 0 using fillna() function

In [33]:
df1=df.copy()
df1['m2'].fillna(df1['m2'].mean(),inplace=True)
print(df1)
print('Making m5 as NaN mean using fillna() function \n\n\n\n')

     m1         m2    m3    m4    m5
0  50.0  60.000000  50.0  60.0   0.0
1   NaN  66.666667  70.0   NaN   0.0
2  60.0  60.000000   NaN   NaN   0.0
3   NaN  66.666667   NaN   NaN  10.0
4  80.0  80.000000  60.0  60.0  20.0
Making m5 as NaN mean using fillna() function

In [34]:
df2 =df.copy()
df1['m3'].fillna(df1['m2'].median(),inplace=True)
print(df2)
print('Making m5 as NaN as median using fillna() FUNCTION')

     m1    m2    m3    m4    m5
0  50.0  60.0  50.0  60.0   0.0
1   NaN   NaN  70.0   NaN   0.0
2  60.0  60.0   NaN   NaN   0.0
3   NaN   NaN   NaN   NaN  10.0
4  80.0  80.0  60.0  60.0  20.0