In [6]:
import pandas as pd
col_list=["id","first","last","gender","Marks","selected"]
df=pd.read_csv('datas.csv',usecols=col_list)#incase of no columns col_list wil be created
print(df)

   id        first       last  gender  Marks  selected
0   1        Leone     Debrci  Female     50      True
1   2       Romola  Phinnessy  Female     60     False
2   3         Geri      Prium    Male     65     False
3   4        Sandy   Doveston  Female     95     False
4   5      Jacenta     Janisk  Female     31      True
5   6  Diane-marie   Medhurst  Female     45      True
6   7       Austen       Pool    Male     45      True
7   8        Vanya    Teffrey    Male     70     False
8   9     Giordano      Elloy    Male     36     False
9  10       Rozele    Fawcett  Female     50     False

In [34]:
mean1 = df['Marks'].mean()
print('Mean Marks:'+str(mean1))

Mean Marks:54.7

In [33]:
sum1=df['Marks'].sum()
print('Sum of the Marks:'+str(sum1))

Sum of the Marks:547

In [35]:
max1=df['Marks'].max()
min1=df['Marks'].min()
print('Maximum of the marks:'+str(max1))
print('Minimum of the marks:'+str(min1))

Maximum of the marks:95
Minimum of the marks:31

In [36]:
count1=df['Marks'].count()
print('count of the marks:'+str(count1))

count of the marks:10

In [24]:
median1=df['Marks'].median()
print(median1)

50.0

In [29]:
sd1=df['Marks'].std()
var1=df['Marks'].var()
print(sd1)
print(var1)

18.666964283341724
348.4555555555555