In [6]:
import pandas as pd
col_list=["id","first","last","gender","Marks","selected"]
df=pd.read_csv('datas.csv',usecols=col_list)#incase of no columns col_list wil be created
print(df)

   id        first       last  gender  Marks  selected
0   1        Leone     Debrci  Female     50      True
1   2       Romola  Phinnessy  Female     60     False
2   3         Geri      Prium    Male     65     False
3   4        Sandy   Doveston  Female     95     False
4   5      Jacenta     Janisk  Female     31      True
5   6  Diane-marie   Medhurst  Female     45      True
6   7       Austen       Pool    Male     45      True
7   8        Vanya    Teffrey    Male     70     False
8   9     Giordano      Elloy    Male     36     False
9  10       Rozele    Fawcett  Female     50     False

In [41]:
print('\n\n\nListing1\n\n\n')
mean1 = df['Marks'].mean()
print('Mean Marks:'+str(mean1))

Listing1



Mean Marks:54.7

In [33]:
sum1=df['Marks'].sum()
print('Sum of the Marks:'+str(sum1))

Sum of the Marks:547

In [35]:
max1=df['Marks'].max()
min1=df['Marks'].min()
print('Maximum of the marks:'+str(max1))
print('Minimum of the marks:'+str(min1))

Maximum of the marks:95
Minimum of the marks:31

In [36]:
count1=df['Marks'].count()
print('count of the marks:'+str(count1))

count of the marks:10

In [37]:
median1=df['Marks'].median()
print('Median of the marks:'+str(max1))

Median of the marks:95

In [39]:
sd1=df['Marks'].std()
var1=df['Marks'].var()
print('Standard deviation of the marks:'+str(max1))
print('Variance of the marks'+str(var1))

Standard deviation of the marks:95
Variance of the marks348.4555555555555

In [40]:
print('\n\nListing2\n')

Listing2

In [48]:
print(df)
print('\n'+str(df.shape))

   id        first       last  gender  Marks  selected
0   1        Leone     Debrci  Female     50      True
1   2       Romola  Phinnessy  Female     60     False
2   3         Geri      Prium    Male     65     False
3   4        Sandy   Doveston  Female     95     False
4   5      Jacenta     Janisk  Female     31      True
5   6  Diane-marie   Medhurst  Female     45      True
6   7       Austen       Pool    Male     45      True
7   8        Vanya    Teffrey    Male     70     False
8   9     Giordano      Elloy    Male     36     False
9  10       Rozele    Fawcett  Female     50     False

(10, 6)

In [49]:

print('\n'+str(df.head(5)))

   id    first       last  gender  Marks  selected
0   1    Leone     Debrci  Female     50      True
1   2   Romola  Phinnessy  Female     60     False
2   3     Geri      Prium    Male     65     False
3   4    Sandy   Doveston  Female     95     False
4   5  Jacenta     Janisk  Female     31      True

In [50]:
print(df.describe())

             id      Marks
count  10.00000  10.000000
mean    5.50000  54.700000
std     3.02765  18.666964
min     1.00000  31.000000
25%     3.25000  45.000000
50%     5.50000  50.000000
75%     7.75000  63.750000
max    10.00000  95.000000

In [51]:
print('\n\nListing3\n\n')

Listing3

In [54]:
from scipy import stats
data = [1,2,3,4,5,6,8,8,8,8,9,10,10,10,12,14,18,18,18,22,39,44,55,55,55,55,66,78,79,88]

In [57]:
print("\n Details of the data\n", stats.describe(data))

 Details of the data
 DescribeResult(nobs=30, minmax=(1, 88), mean=26.933333333333334, variance=715.3057471264367, skewness=0.9591014772240082, kurtosis=-0.5039593211083249)

In [60]:
print('\n The cumulative frequency of the data-n',stats.cumfreq(data))

 The cumulative frequency of the data-n CumfreqResult(cumcount=array([ 5., 16., 20., 20., 22., 22., 26., 27., 29., 30.]), lowerlimit=-3.833333333333333, binsize=9.666666666666666, extrapoints=0)

In [61]:
print('\n The Geomentric mean of the data-n',stats.gmean(data))

 The Geomentric mean of the data-n 15.260661495888634

In [62]:
print('\n The Harmonic mean of the data-n',stats.hmean(data))

 The Harmonic mean of the data-n 7.690170827943984

In [63]:
print('\n The IQR of the data-nth,stats.zscore(data)')

 The IQR of the data-nth,stats.zscore(data)

In [64]:
print("\n The skewness of the data-n", stats.skew(data))

 The skewness of the data-n 0.9591014772240082

In [65]:
print("\n The Kurtosos of the data-n",stats.kurtosis(data))

 The Kurtosos of the data-n -0.5039593211083249

In [ ]:
data=[1,2,3,4,]